torch>=2.0.0
torchvision
transformers
imageio
imageio[ffmpeg]
safetensors
einops
sentencepiece
protobuf
modelscope
ftfy
pandas
accelerate
peft
datasets
wandb
opencv-python
easydict
scikit-image
diffusers
qwen_vl_utils
numpy
Pillow
scipy
tqdm
python-Levenshtein
omegaconf
pygame
piq
pytorch-fid
decord
pytorchvideo